@using UsersGoods.Web.Resources
@using UsersGoods.Web.ViewModel.Goods
@model TopGoodViewModel
@{
    ViewBag.Title = StringResource.MenuGoods;
}


<div class="row">
    <div class="col-md-12">
        <div>@StringResource.GoodTop</div>
        <table>
            <tr>
                <th>@StringResource.GoodName</th>
                <th>@StringResource.PurchaseCount</th>
            </tr>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>@Model.PurchaseCount</td>
            </tr>
        </table>
    </div>
</div>