@using UsersGoods.Web.Resources
@using UsersGoods.Web.ViewModel.Users
@model IndexViewModel

@{
    ViewBag.Title = StringResource.MenuUsers;
}
<script>
    $(function () {
        var search = function () {
            var url = '@Request.Url.GetLeftPart(UriPartial.Path)?search=' + encodeURIComponent($('#search').val());
            window.location = url;
        };

        $('#searchButton').click(search);
        $('#search').on('keypress', function (e) {
            if (e.which == 13) {
                search();
            }
        });
    });
</script>

<div class="row">
	<div class="col-md-12">
		<h1>@StringResource.MenuUsers
		(@if (Model.IsFiltered)
		{
			<span>@Model.ItemsCount @StringResource.Of @Model.ItemsTotalCount</span>
		}
		else
		{
			<span>@Model.ItemsTotalCount</span>
		})
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<input id="search" placeholder="@StringResource.UserName" type="text" value="@Model.SearchString">
		<a class="btn btn-default" id="searchButton">@StringResource.ActionSearch</a>
		@if (Model.IsFiltered)
		{
			<a class="btn btn-default" href="@Url.Action("Index", "Users", new {search = "" })">@StringResource.ActionResetFilter</a>
		}
	</div>    
</div>

<div class="row">
    <div class="col-md-12">
		<table class="item-table">
			<tr>
				<th>@StringResource.UserName</th>
				<th>@StringResource.UserTotalAmount (@StringResource.RUB)</th>
			</tr>
			@if (Model.Items == null || !Model.Items.Any())
			{
				<tr class="notfound-tr">
					<td colspan="2">@StringResource.NotFound</td>
				</tr>
			}
			else
			{
				foreach (var item in Model.Items)
				{
					<tr>
						<td>
							<a target="_blank" href="@Url.Action("Index", "User", new {id = item.Id })">@item.FirstName @item.SecondName</a>
						</td>
						<td>@item.TotalAmount</td>
					</tr>
				}
			}			
		</table>
    </div>    
</div>